.Admin{
    padding: 0% 0% 5% 0%;
    margin: 0%;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.Search{
    width: 50%;
    border-radius: 10px;
    border: 2px solid black;
    font-size: 20px;
    margin: 2% 2% 2% 15%;
    padding: .5%;
}
.SearchB{
    font-size: 20px;
    border: 2px solid black;
    padding: .5%;
    border-radius: 10px;
    background-color: white;
    text-decoration: none;
    color: black;
}
.SearchB:hover {
    background-color: grey;
    cursor: pointer;
}
.AdminB{
    background-color: #C04B4B;
    color: white;
    border-radius: 10px;
    padding: .5% 1% .5% 1%;
    text-decoration: none;
    font-size: 23px;
    margin-right: 5%;
}
.ButtonsA{
    margin-left: 18%;
}
.Boxs{
    margin: 3% 10% 3% 10%;
    background-color: rgb(150, 150, 150);
    font-size: 20px;
    color: White;
    padding: .1% 2% 1% 2%;
}
.Boxs img{
    width: 15%;
    height: 160px;
    float: left;
    padding-top: 1.5%;
}
.BoxText{
    padding-left: 1%;
}