@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
  margin: 0;
  font-family: 'Roboto', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Roboto', source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#NoPage {
  text-align: center;
  color: rgb(229, 83, 83);
}

.basicButton {
  background-color: White;
  text-decoration: none;
  color: rgb(60, 60, 60);
  border-radius: 10px;
  padding: 1%;
  border: 1px solid rgb(60, 60, 60);
  font-size: 1rem;
}

.basicButton:hover {
  transition: all 150ms;
  background-color: rgb(60, 60, 60);
  border: 1px solid black;
  color: white;
  border-radius: 5px;
}