@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body {
  margin: 0;
  font-family: "Roboto", "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body input, body select, body option {
  font-family: "Roboto", "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.light {
  background-color: white;
  color: rgb(48, 48, 48);
}

.dark {
  background-color: rgb(48, 48, 48);
  color: white;
}

code {
  font-family: "Roboto", source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

/* StudentPoints Page*/
#StudentPoints {
  padding: 0% 0% 5% 0%;
  margin-bottom: 200px;
  margin-top: 200px;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.PageTitle {
  text-align: center;
}

.box45Div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 3% 5%;
}

.Box46 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box45 {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: rgb(192, 75, 75);
  border-radius: 10px;
  width: 400px;
  height: -moz-fit-content;
  height: fit-content;
  color: white;
  padding: 2%;
}
.box45 .h2 {
  text-align: center;
}
.box45 p {
  margin: 0.5% 0;
}
@media only screen and (max-width: 966px) {
  .box45 {
    margin: 2% 0;
  }
}

.pushinp {
  text-align: center;
  background-color: rgb(48, 48, 48);
  border-radius: 10px;
  width: 90%;
  color: white;
  padding: 3% 0% 3% 0%;
  margin: 4%;
  font-size: 20px;
}

#notpushinp {
  font-size: 2.7em;
}

/* StudentHome Page*/
#StudentHome {
  padding: 0% 0% 5% 0%;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#SHead {
  padding: 1% 1% 0% 1%;
}

.BoxParent {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.Box2 {
  text-align: center;
  background-color: rgb(192, 75, 75);
  border-radius: 10px;
  width: -moz-fit-content;
  width: fit-content;
  color: white;
  margin: 2%;
  padding: 1% 1%;
}
.Box2 img {
  width: 300px;
}

.button2 {
  background-color: White;
  text-decoration: none;
  color: white;
  border-radius: 10px;
  padding: 2% 15%;
  border: 1px solid white;
  font-size: 20;
}
.button2:hover {
  background-color: rgb(79, 79, 79);
  color: White;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.HomeImg {
  border-radius: 10px;
  padding-bottom: 15px;
}

/*StudentEvents Page*/
#StudentEvents {
  padding: 0% 0% 5% 0%;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.Headingg {
  text-align: center;
}

.BoxSE {
  float: left;
  text-align: center;
  background-color: rgb(192, 75, 75);
  border-radius: 10px;
  width: 900px;
  height: auto;
  color: white;
  padding: 2%;
  margin-left: 10%;
  text-align: center;
  margin-top: 3%;
}

.BoxSE2 {
  background-color: rgb(192, 75, 75);
  border-radius: 10px;
  width: 80%;
  height: auto;
  color: white;
  padding: 1% 1% 10%;
  margin-left: 10%;
  margin-top: 3%;
  margin-bottom: 100px;
}

.pushinpp {
  float: left;
  width: 500px;
  margin-left: 70px;
  height: -200px;
  font-size: 20px;
}

.StudentEventIMG {
  float: left;
  border-radius: 10px;
}

.button289 {
  float: right;
  background-color: rgb(48, 48, 48);
  text-decoration: none;
  color: white;
  border-radius: 10px;
  padding: 1% 8%;
  border: 1px solid white;
  font-size: 20;
  margin-top: 25px;
  margin-right: 20px;
  font-size: 26px;
}
.button289:hover {
  background-color: rgb(60, 60, 60);
  cursor: pointer;
}
.button289:active {
  background-color: rgb(36, 36, 36);
  cursor: pointer;
}

.BoxSE3 {
  background-color: rgb(192, 75, 75);
  border-radius: 10px;
  width: 80%;
  height: auto;
  color: white;
  padding: 1% 1% 10%;
  margin-left: 10%;
  margin-bottom: 3%;
}

/* NewEvent Page*/
#NewEvent {
  padding: 0% 0% 5% 0%;
  margin: 0%;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.flexd {
  margin: auto;
  display: flex;
  justify-content: center;
}

.Form {
  border: solid 2px white;
  margin: 1% auto 2% auto;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  color: white;
  background-color: rgb(192, 75, 75);
}
@media only screen and (min-width: 510px) {
  .Form {
    width: 500px;
  }
}
@media only screen and (max-width: 511px) {
  .Form {
    width: 95vw;
  }
}
.Form input {
  font-size: 1.2rem;
  padding: 0 1%;
  background-color: rgb(48, 48, 48);
  color: white;
}
.Form select {
  font-size: 1.2rem;
  background-color: rgb(48, 48, 48);
  color: white;
}

.Button {
  background-color: rgb(48, 48, 48);
  color: white;
  border: solid 1px white;
  font-size: 1.1rem;
  padding: 0 2%;
  border-radius: 10px;
  text-align: center;
}
.Button:hover {
  background-color: rgb(60, 60, 60);
  color: white;
  border-color: white;
  transition: all 0.15s;
}
.Button:active {
  background-color: rgb(48, 48, 48);
  color: white;
  border-color: white;
}

.FormDiv {
  margin: 1%;
  padding: 1px 2px;
  display: flex;
  flex-direction: column;
}
.FormDiv > input,
.FormDiv > select {
  border: solid 1px white;
  border-radius: 8px;
}

#Questions {
  padding-left: 36%;
}

/*NavBar*/
.header {
  text-align: center;
}

nav {
  background-color: rgb(192, 75, 75);
  padding: 1%;
  border-bottom: solid 2px white;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
}

.navButton {
  background-color: rgb(48, 48, 48);
  border: solid 1px white;
  padding: 0.5% 2%;
  border-radius: 10px;
  width: 120px;
  text-align: center;
  margin: 0.2% 2%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navButton:link {
  color: white;
  text-decoration: none;
}
.navButton:visited {
  color: white;
}
.navButton:hover {
  color: white;
  background-color: rgb(60, 60, 60);
  transition: all 0.15s;
}
.navButton:active {
  color: white;
  background-color: rgb(48, 48, 48);
}

/* Login Page*/
#NewAccount {
  padding: 0% 0% 5% 0%;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.FormSubmit {
  width: -moz-fit-content;
  width: fit-content;
  padding: 0% 5%;
  text-align: center;
  margin: 1% auto;
}

.SubmitButtons {
  margin: 1% 2%;
}

.passwordDiv {
  display: flex;
}
.passwordDiv input {
  width: 100%;
  margin-right: 0.5%;
  border: solid 1px white;
  border-radius: 8px 0 0 10px;
}
.passwordDiv .Button {
  border: solid 1px white;
  border-radius: 0 10px 10px 0;
}

#Questions {
  padding-left: 36%;
}

#message {
  text-align: center;
  color: red;
  font-size: 1.3rem;
  margin: 2% 0 2%;
}

.WelcomeMessage {
  margin: 3%;
  color: white;
  text-align: center;
}

/*Index Page*/
.return {
  width: -moz-fit-content;
  width: fit-content;
  padding: 1%;
  margin: 1% auto;
  text-align: center;
  color: rgb(229, 83, 83);
}

.basicButton {
  background-color: White;
  text-decoration: none;
  color: rgb(60, 60, 60);
  border-radius: 10px;
  padding: 1%;
  border: 1px solid rgb(60, 60, 60);
  font-size: 1rem;
}
.basicButton:hover {
  transition: all 150ms;
  background-color: rgb(60, 60, 60);
  border: 1px solid white;
  color: white;
  border-radius: 5px;
}

/*Home Page*/
.header {
  text-align: center;
}

/* Footer Page */
footer {
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(192, 75, 75);
  border-top: solid 2px white;
  height: auto;
  width: 100vw;
  margin: 20px auto 0;
  color: white;
  text-align: center;
  padding: 1%;
}

/*AdminHome Page*/
#AdminHome {
  padding: 0% 0% 0.5% 0%;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#head {
  padding: 1.5% 2% 1% 4%;
  margin: 0%;
  font-size: 1.5em;
}

.Box {
  text-align: center;
  border-radius: 10px;
  margin: 3% auto;
  border: 2px solid white;
}

.imgBox {
  background-color: rgb(192, 75, 75);
  display: flex;
  flex-direction: column;
}
.imgBox:hover {
  background-color: rgb(202, 85, 85);
  cursor: pointer;
}
.imgBox:active {
  background-color: rgb(212, 95, 95);
}
.imgBox img {
  width: 75%;
  margin: 2% auto 0;
}
.imgBox .button {
  width: 60%;
  margin: 0 auto;
}

.ButtonParent {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

@media only screen and (max-width: 1500px) {
  .Margin {
    margin-bottom: 8%;
  }
}
@media only screen and (max-width: 1207px) {
  .Margin {
    margin-bottom: 20%;
  }
}
@media only screen and (max-width: 620px) {
  .Margin {
    margin-bottom: 45%;
  }
}
@media only screen and (max-width: 384px) {
  .Margin {
    margin-bottom: 60%;
  }
}
@media only screen and (max-width: 289px) {
  .Margin {
    margin-bottom: 105%;
  }
}

.ButtonText {
  margin: 1% auto;
  font-size: 1.4rem;
  color: white;
}

.button {
  background-color: rgb(48, 48, 48);
  text-decoration: none;
  color: white;
  border-radius: 10px;
  padding: 2% 15%;
  border: 1px solid white;
  font-size: 18px;
}
.button:hover {
  background-color: rgb(60, 60, 60);
  color: white;
  border-color: white;
  transition: all 0.15s;
}
.button:active {
  background-color: rgb(48, 48, 48);
  color: white;
  border-color: white;
}

.Images {
  padding-bottom: 20px;
}

/* Admin Events Page and Admin Student Page*/
.Center {
  text-align: center;
}

.Admin {
  padding: 0% 0% 5% 0%;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.SearchForm {
  margin: auto;
  width: 90vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 747px) {
  .SearchForm {
    flex-wrap: wrap;
    flex-direction: column;
  }
}
.SearchForm .Search {
  border: 2px solid black;
  border-radius: 10px;
  font-size: 20px;
  padding: 0.5%;
}
@media only screen and (max-width: 748px) {
  .SearchForm .Search {
    width: 80%;
    margin-bottom: 1%;
  }
}
@media only screen and (min-width: 747px) {
  .SearchForm .Search {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 1px rgb(48, 48, 48) solid;
    width: 65%;
  }
}
.SearchForm .Filter {
  width: -moz-fit-content;
  width: fit-content;
  border: 2px white solid;
  border-radius: 10px;
  font-size: 18px;
  padding: 0.5%;
  color: grey;
}
@media only screen and (max-width: 748px) {
  .SearchForm .Filter {
    width: 70%;
  }
}
@media only screen and (min-width: 747px) {
  .SearchForm .Filter {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 1px rgb(48, 48, 48) solid;
  }
}

.Search2 {
  border: 2px solid white;
  border-radius: 10px;
  font-size: 20px;
  padding: 0.5%;
}
@media only screen and (max-width: 748px) {
  .Search2 {
    width: 80%;
    margin-bottom: 1%;
  }
}
@media only screen and (min-width: 747px) {
  .Search2 {
    width: 70%;
  }
}

.SearchB {
  font-size: 20px;
  border: 2px solid white;
  padding: 0.5%;
  border-radius: 10px;
  background-color: white;
  text-decoration: none;
  color: white;
}
.SearchB:hover {
  background-color: grey;
  cursor: pointer;
}

.AdminB {
  background-color: rgb(192, 75, 75);
  text-align: center;
  color: white;
  border: solid 1px white;
  border-radius: 10px;
  padding: 0.5% 1% 0.5% 1%;
  text-decoration: none;
  font-size: 23px;
  margin: 1% 2%;
  cursor: pointer;
}
.AdminB:hover {
  background-color: rgb(202, 85, 85);
}
.AdminB:active {
  background-color: rgb(212, 95, 95);
}

.ButtonsA,
.ButtonsDiv {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  width: 80%;
  padding: 1%;
  margin: 0 auto;
}

.Boxs {
  border: white solid 2px;
  border-radius: 10px;
  width: 1000px;
  display: flex;
  margin: 3% auto 3% auto;
  background-color: rgb(192, 75, 75);
  font-size: 20px;
  color: White;
  padding: 1% 2%;
  cursor: pointer;
}
@media only screen and (max-width: 1046px) {
  .Boxs {
    width: 95vw;
  }
}
.Boxs:hover {
  background-color: rgb(202, 85, 85);
}
.Boxs:active {
  background-color: rgb(212, 95, 95);
}
.Boxs img {
  width: 200px;
  height: 190px;
  float: left;
  padding: 1.5% 1.5% 0% 0%;
}
.Boxs button {
  width: 500px;
  margin: 2% auto 1%;
}
@media only screen and (max-width: 530px) {
  .Boxs button {
    width: 100%;
  }
}

.BoxsC {
  border: white solid 2px;
  border-radius: 10px;
  width: 1000px;
  display: flex;
  flex-direction: column;
  margin: 3% auto 3% auto;
  background-color: rgb(192, 75, 75);
  font-size: 20px;
  color: White;
  padding: 1% 2%;
  cursor: pointer;
}
@media only screen and (max-width: 1046px) {
  .BoxsC {
    width: 95vw;
  }
}
.BoxsC:hover {
  background-color: rgb(202, 85, 85);
}
.BoxsC:active {
  background-color: rgb(212, 95, 95);
}
.BoxsC img {
  width: 200px;
  height: 190px;
  float: left;
  padding: 1.5% 1.5% 0% 0%;
}
.BoxsC button {
  width: 500px;
  margin: 2% auto 1%;
}
@media only screen and (max-width: 530px) {
  .BoxsC button {
    width: 100%;
  }
}
.BoxsC p {
  margin: 1% 0;
}

.BoxsH {
  border: white solid 2px;
  border-radius: 10px;
  width: 1000px;
  display: flex;
  flex-direction: column;
  margin: 3% auto 3% auto;
  background-color: rgb(192, 75, 75);
  font-size: 20px;
  color: White;
  padding: 1% 2%;
}
@media only screen and (max-width: 1046px) {
  .BoxsH {
    width: 95vw;
  }
}
.BoxsH img {
  width: 200px;
  height: 190px;
  float: left;
  padding: 1.5% 1.5% 0% 0%;
}
.BoxsH button {
  width: 500px;
  margin: 2% auto 1%;
}
@media only screen and (max-width: 530px) {
  .BoxsH button {
    width: 100%;
  }
}
.BoxsH p {
  margin: 1% 0;
}
.BoxsH .EventName {
  font-size: larger;
  -webkit-text-decoration: underline solid white 1px;
          text-decoration: underline solid white 1px;
  text-underline-offset: 3px;
}

.dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
.dropbtn:hover, .dropbtn:focus {
  background-color: #3e8e41;
}

.dropdown {
  float: right;
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  right: 0;
  z-index: 1;
}
.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

.DownloadB {
  width: -moz-fit-content;
  width: fit-content;
  background-color: rgb(192, 75, 75);
  text-align: center;
  color: white;
  border-radius: 10px;
  padding: 0.5% 1% 0.5% 1%;
  text-decoration: none;
  font-size: 23px;
  cursor: pointer;
  margin: 0 2%;
}

.ReportGrid {
  background-color: white;
  border: 1px solid white;
  overflow: visible;
  width: 80%;
  padding: 0%;
  margin: 0 auto 5%;
  text-align: center;
  border-spacing: 2px 2px;
  padding: 1px;
}
.ReportGrid th {
  background-color: white;
  border: solid 1px white;
  color: rgb(48, 48, 48);
}
.ReportGrid th:hover {
  background-color: rgb(230, 230, 230);
  cursor: pointer;
}
.ReportGrid tr {
  background-color: rgb(192, 75, 75);
  color: white;
}

.PrizeWinners {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

.gd {
  width: 350px;
  text-align: center;
  margin: 2% 1% 1%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border: solid 1px white;
  background-color: rgb(192, 75, 75);
}
.gd h2 {
  font-size: 2rem;
  margin-bottom: 0.5%;
  -webkit-text-decoration: underline solid 2px white;
          text-decoration: underline solid 2px white;
  text-underline-offset: 3px;
}
.gd h3 {
  font-size: 1.5rem;
  margin: 4% 0 1%;
}
.gd h4 {
  font-weight: normal;
  font-size: 1.2rem;
  margin-top: 2.5%;
}
.gd .MostPoints {
  border-bottom: dotted 1px white;
}

#signupForm {
  padding: 0% 0% 0.5% 0%;
}

.RequestDiv {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
@media only screen and (min-width: 1200px) {
  .RequestDiv {
    margin-bottom: 10%;
  }
}

.requests {
  border: white solid 2px;
  border-radius: 10px;
  width: 700px;
  margin: 1% auto;
  background-color: rgb(192, 75, 75);
  font-size: 20px;
  color: White;
  padding: 0.1% 2% 1% 2%;
}
@media only screen and (max-width: 745px) {
  .requests {
    width: 95vw;
  }
}

.AdminR {
  font-size: 20px;
  color: White;
  text-decoration: none;
  padding: 0.5% 1.5%;
  margin-right: 1%;
  cursor: pointer;
}

/* Dark Mode Button */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(48, 48, 48);
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: rgb(192, 75, 75);
  transition: 0.4s;
}

input:checked + .slider {
  background-color: rgb(230, 230, 230);
}

input:focus + .slider {
  box-shadow: 0 0 1px rgb(230, 230, 230);
}

input:checked + .slider:before {
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.darkModeParent {
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media only screen and (min-width: 621px) {
  .darkModeParent {
    position: absolute;
    right: 4%;
  }
}
.description {
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}

/* End *//*# sourceMappingURL=main.css.map */